# Конфигурационные файлы
config.py
*.env

# Локальные настройки IDE и редакторов
.vscode/
.idea/

# Logs
*.log
logs/
*.out
*.err

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Python-specific virtual environment files
pip-wheel-metadata/

# Anaconda
*.conda
*.ipynb
.envs/
*.condarc
*.conda
*.condarc

# Pyright
.typings/
